<%- include ("partials/header.ejs") %>
<body>
    <%- include ("partials/navbar.ejs") %>
    
    <main> <!--Início do conteúdo principal-->
        <section> <!--Início da seção-->
            <div class="container"> <!--Início do container-->
                <hr>
                <h1>Perguntas</h1>
                <hr>
                <a href="/perguntar" class="btn btn-primary">Perguntar</a>
                <hr>

                <% perguntas.forEach(pergunta => { %>
                    <br>
                    <div class="card"> <!--Início do card-->
                        <div class="card-header"> <!--Início do cabeçalho do cartão-->
                            <h3><%= pergunta.titulo%></h3>
                        </div> <!--Fim do cabeçalho do cartão-->
                        <div class="card-footer"> <!--Início do corpo do cartão-->
                        <a href="/pergunta/<%=pergunta.id%>"><button class="btn btn-primary">Responder</button></a>
                        </div> <!--Fim do corpo do cartão-->
                    </div> <!--Fim do card-->
                <% }) %>
            </div> <!--Fim do container-->
        </section> <!--Fim da seção-->
    </main> <!--Fim do contaúdo principal-->
</body>

<%- include ("partials/footer.ejs") %>


